@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'TwentiethCentury';
  src: url('/fonts/TCC.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TwentiethCenturyBold';
  src: url('/fonts/TCCB.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'TwentiethCentury', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
