@tailwind base;
@tailwind components;
@tailwind utilities;
/* Importing a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 16s linear infinite;
}


@font-face {
  font-family: "Mulish", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  font-family: "Mulish", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

